
// header nav

a{
    color: white;
    padding: 0;
    font-size: 1.5rem;

    &:hover{
        text-decoration: none;
        color: white;
    }
}

.header__container{
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 100;
}

// caracteristicas logo
.header__nav-logo{
    width: 50px;
    margin: 10px 20px;
}

//caracteristicas aplicadas a barra nav
.header__nav-prop{
    padding: 0; 
}

.navbar-a-prop{
    font-size: 1.1rem;
    padding: 10px 50px;
    color: white;
    opacity: 0.8;

    &:hover{
        color: white;
        text-decoration: none;
        opacity: 1;
        transition: all .5s;
    }
}

.header__nav__div-prop{
    display: flex;
    justify-content: flex-end;    
    
}

.nav__prop{
    background-color: rgba($color: #4d4d4d, $alpha: 0.8);
    border-radius: 10px 0 0 10px;
}

.header__nav__button{
    font-size: 2rem;
    line-height: 1;
    background-color: transparent;
    border: none;
    color:  rgba(228, 195, 19, 0.8);

    &:focus{
        border: none;
    }

    &:active{
        border: none;
    }
}

@media (min-width: 1000px){
    .header__nav__button{
        display: none;
    }
}